.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(32, 112, 166) 0.00%,rgb(41, 157, 84) 100.00%);
}
.page-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius75);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.page-container1:hover {
  transform: scale(105%);
  transition-duration: 0.5s;
}
.page-text1 {
  color: var(--dl-color-pimary-500);
  margin-bottom: var(--dl-space-space-halfunit);
}
.page-navlink {
  display: contents;
}
.page-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius50);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-pimary-500);
}
.page-container2:hover {
  transform: scale(105%);
  box-shadow: 0px 0px 10px 0px #4aa4e3;
  transition-duration: 0.5s;
}
.page-icon {
  fill: var(--dl-color-pimary-900);
  width: 24px;
  height: 24px;
}
.page-text2 {
  color: var(--dl-color-gray-white);
  font-size: 1rem;
  font-family: "Arial Black";
  margin-left: var(--dl-space-space-halfunit);
}
@media(max-width: 991px) {
  .page-text {
    fill: var(--dl-color-secondary-orange2);
    color: var(--dl-color-secondary-orange2);
    font-size: 5em;
  }
  .page-text1 {
    color: var(--dl-color-pimary-500);
  }
}
@media(max-width: 767px) {
  .page-text2 {
    color: var(--dl-color-gray-white);
    font-size: 1rem;
    font-family: Arial Black;
  }
}
@media(max-width: 479px) {
  .page-text1 {
    text-align: center;
  }
}
